/* menyembunyikan tombol aksi */

.action {
	display: none;
}


/* memberikan border pada tabel */

.table {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.table th,
.table td {
	border-left: 1px solid black;
	border-top: 1px solid black;
	padding: 3px;
	font-size: 12px
}

.zoom {
	width: 100%;
	max-width: 90px;
	height: auto;
	border-radius: 3px;
	display: none;
}

.video {
	width: 100%;
	max-width: 300px;
	display: none;
}
